@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityRole>

<h2>Список ролей</h2>

<table class="table">
    <thead>
        <tr>
            <th>Назва ролі</th>
            <th>Дії</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var role in Model)
        {
            <tr>
                <td>@role.Name</td>
                <td>
                    <form asp-action="Delete" asp-route-id="@role.Id" method="post" onsubmit="return confirm('Ви впевнені, що хочете видалити цю роль?');" class="d-inline">
                        <button type="submit" class="btn bg-danger text-bg-success text-light">Видалити</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>

<a asp-action="UserList" class="btn btn-primary">Список користувачів</a>

<hr />
