@{
    ViewData["Title"] = "Створення сеансу";
}

<h2>Створення сеансу</h2>

@model List<CinemaDomain.Model.Cinema>

<!-- Container where steps will be loaded -->
<div id="sessionCreationContainer">
    @await Html.PartialAsync("_SelectCinema", Model)
</div>

<!-- Back Button -->
<div>
    <a asp-action="Index" class="btn btn-secondary mt-3">Назад до списку</a>
</div>
